* {
    padding: 0;
    margin: 0;
}
body {
    background-color: grey;
    height: 100vh;
    animation-name: Blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
h1 {
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
     animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
@keyframes Blink {
    0% {
        background: linear-gradient(to right, grey, skyblue);
        h1 {color: black;}
    }
    25% {
        background: linear-gradient(to left, aqua, blue);
        h1 {color: white;}
    }
    50% {
        background: linear-gradient(to bottom, yellow, green);
        h1 {color: darkblue;}
    }
    75% {
        background: linear-gradient(to top, Orange, grey);
        h1 {color: violet;}
    }
    100% {
        background: radial-gradient(goldenrod blue);
        h1 {color: burlywood};
    }
}
@keyframes blink {
    0% {
        color: black
    }
    25% {
        color: white
    }
    50% {
        color: darkblue
    }
    75% {
 
        color: violet;
    }
    100% {
   
        color: burlywood;
    }
}